.advantages-and-about {
  margin-bottom: 110px;
}

.about__inner {
  display: flex;
  max-width: 1216px;
  justify-content: space-between;
  position: relative;
}

.about__inner::before {
  content: "";
  position: absolute;
  left: -522px;
  top: -320px;
  width: 727px;
  height: 727px;
  background-image: url("../img/advantages-polygon-big.svg");
  transform: rotate(180deg);
}

.about__title,
.about__text {
  margin-top: 0;
  color: $light-grey;
}

.about__title {
  margin-bottom: 18px;
  font-family: RobotoCondensed, Arial, sans-serif;
  font-size: 36px;
  line-height: 51px;
}

.about__text {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
}

.about__button {
  text-transform: uppercase;
  padding: 14px 45px;
  font-family: RobotoCondensed, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  border: 1px solid $blue;
  color: $blue;
  background-color: inherit;
  border-radius: 10px;
  cursor: pointer;
}

.about__button:hover,
.about__button:focus {
  background-color: $blue;
  color: $white;
}

.about__image {
  width: 220px;
  height: 317px;
}

@media (max-width: $max-tablet-width) {
  .advantages-and-about {
    margin-bottom: 83px;
  }

  .about__image {
    width: 227px;
    height: 362px;
  }

  .about__title {
    margin-bottom: 23px;
    font-size: 32px;
    line-height: 42px;
  }

  .about__text {
    margin-bottom: 34px;
    font-size: 15px;
  }

  .about__text--desktop {
    display: none;
  }

  .about__button {
    padding: 14px 55px;
  }
}

@media (max-width: $max-mobile-width) {
  .advantages-and-about {
    margin-bottom: 60px;
    background-position: 20% 80%;
  }

  .about__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .about__image-wrapper {
    display: none;
  }

  .advantages__list {
    justify-items: unset;
  }

  .about__title {
    font-size: 28px;
    line-height: 39px;
  }
}
