.advantages__inner {
  margin-top: 108px;
  max-width: 1170px;
}

.advantages__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  grid-gap: 30px;
  padding-left: 0;
}

.advantages__item {
  border: 1px solid $border-color;
  border-left: 1px solid $blue;
  cursor: pointer;
  position: relative;
}

.advantages__item:hover,
.advantages__item:focus {
  background-color: $blue;
}

.advantages__item:hover p,
.advantages__item:focus p,
.advantages__wrapper:hover svg,
.advantages__wrapper:focus svg {
  color: $white;
}

.advantages__title,
.advantages__text {
  margin-top: 0;
}

.advantages__title {
  margin-bottom: 15px;
  font-family: RobotoCondensed;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
}

.advantages__text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  color: $light-grey;
}

.advantages__wrapper svg {
  color: $blue;
}
