
.form {
  background-color: $blue;
}

.form__inner {
  max-width: 1200px;
  display: flex;
  padding-top: 96px;
  padding-bottom: 114px;
  justify-content: space-between;
  position: relative;
}

.form__imagewrapper {
  z-index: 1;
  overflow: hidden;
}

.form__inner::before,
.form__inner::after {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 0;
}

.form__inner::before {
  content: "";
  left: -37px;
  bottom: -100px;
  width: 636px;
  height: 636px;
  background-image: url("../img/formpolygonbig.svg");
}

.form__inner::after {
  content: "";
  left: -87px;
  bottom: -29px;
  width: 373px;
  height: 373px;
  background-image: url("../img/formpolygonsmall.svg");
}

.form__dot1,
.form__dot2,
.form__dot3,
.form__dot4,
.form__dot5 {
  width: 10px;
  height: 10px;
  background: $white;
  border-radius: 50%;
  position: absolute;
}

.form__dot1 {
  top: 197px;
  left: -40px;
}

.form__dot2 {
  top: 197px;
  left: 505px;
}

.form__dot3 {
  bottom: 56px;
  left: 234px;
}

.form__dot4 {
  bottom: 335px;
  left: -90px;
}

.form__dot5 {
  bottom: 57px;
  left: 70px;
}

.form__image {
  width: 511px;
  height: 288px;
  margin-top: 161px;
}

.form__wrapper {
  max-width: 570px;
}

.form__title,
.form__text {
  color: $white;
  margin-top: 0;
}

.form__title {
  margin-bottom: 7px;
  font-family: RobotoCondensed;
  font-size: 36px;
  line-height: 51px;
}

.form__text {
  margin-bottom: 49px;
  font-size: 16px;
  line-height: 22px;
}

.form__main-information {
  margin-bottom: 40px;
}

.form__main-request {
  margin-bottom: 43px;
}

form input,
form textarea {
  background-color: $light-blue;
  border: none;
  color: $white;
}

.form__main-name,
.form__main-phone,
.form__main-text {
  min-width: 270px;
  padding: 16px;
}

form input::placeholder,
form textarea::placeholder {
  color: $white;
  font-size: 16px;
  line-height: 21px;
}

form button {
  font-family: RobotoCondensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  text-transform: uppercase;
  background-color: inherit;
  border: 1px solid $white;
  border-radius: 10px;
  padding: 14px 45px;
  cursor: pointer;
}

.form button:hover,
.form__button:focus {
  background-color: $white;
  color: $blue;
}

.form__mainlowerpart {
  display: flex;
  justify-content: space-between;
}

.form__main-checkboxlabel {
  max-width: 250px;
  color: $white;
  display: flex;
  position: relative;
  min-height: 16px;
  align-items: center;
  cursor: pointer;
}

.form__main-checkbox {
  position: absolute;
  appearance: none;
}

.form__main-checkboxtext {
  position: absolute;
  width: 16px;
  height: 16px;
  left: -30px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
}

.form__main-checkbox:checked + .form__main-checkboxtext {
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
}



