.header {
  background-image: url("../../img/startbg.jpg");
}

.navigation__logo svg {
  color: $blue;
}

.navigation__inner,
.information__inner {
  display: flex;
}

.information__image {
  width: 705px;
  height: 515px;
}
