.header {
  background-image: url("../../img/startbg.jpg");
  background-color: $grey;
}

.navigation {
  padding-top: 40px;
  padding-bottom: 173px;
}

.navigation__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1411px;
}
  
.navigation__logo svg,
.navigation__logo {
  color: $blue;
  width: 52px;
  height: 52px;
}

.navigation__logowrapper {
  display: flex;
}

.navigation__textmain {
  padding-left: 16px;
}

.navigation__logotext,
.navigation__logoheader {
  margin: 0;
}

.navigation__logoheader {
  font-family: RobotoCondensed;
  font-weight: 700;
  color: $white;
  font-size: 25px;
  line-height: 29px;
}

.navigation__logotext {
  font-family: RobotoCondensed;
  font-weight: 500;
  color: $grey;
  font-size: 12px;
  line-height: 14px;
}

.navigation__contacts {
  display: flex;
  align-items: center;
  padding-right: 70px;
}

.navigation__link {
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

.navigation__link-mail {
  padding-right: 122px;
}

.navigation__link-tel {
  padding-right: 38px;
}

.navigation__link-mail:hover,
.navigation__link-tel:hover,
.navigation__link-mail:focus,
.navigation__link-tel:focus {
  color: $blue;
}

.navigation__button {
  font-family: RobotoCondensed;
  font-weight: 700;
  color: $white;
  font-size: 14px;
  line-height: 16px;  
  padding: 14px;
  background-color: inherit;
  border-color: $white;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.navigation__button:hover,
.navigation__button:focus {
  opacity: 0.5;
}

.navigation__link-tel::before,
.navigation__link-mail::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.navigation__link-tel::before {
  content: "";
  left: -40px;
  top: -2px;
  width: 24px;
  height: 27px;
  background-image: url("../img/phone.svg");
}

.navigation__link-mail::before {
  content: "";
  left: -40px;
  top: -2px;
  width: 24px;
  height: 27px;
  background-image: url("../img/email.svg");
}

.navigation__contactstablet {
  display: none;
}

@media (max-width: $max-tablet-width) {
  .navigation {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .navigation__contacts {
    display: none;
  }

  .navigation__contactstablet {
    display: block;
    padding-right: 40px;
  }

  .navigation__contactstablet--mail svg,
  .navigation__contactstablet--phone svg {
    color: $blue;
  }

  .navigation__contactstablet--mail:hover,
  .navigation__contactstablet--mail:focus,
  .navigation__contactstablet--phone:hover,
  .navigation__contactstablet--phone:focus {
    opacity: 0.5;
  }

  .navigation__contactstablet--mail {
    padding-right: 20px;
  }

  .navigation__logowrapper {
    padding-left: 20px;
  }
}

@media (max-width: $max-mobile-width) {
  .navigation__textmain {
    display: none;
  }

  .navigation__contactstablet {
    padding-right: 20px;
  }
}