/* pt-mono - latin_cyrillic */
@font-face {
  font-family: "PTMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PTMono"), url("../fonts/pt-mono.woff2") format("woff2"), url("../fonts/pt-mono.woff") format("woff"); }

/* roboto - condensed - latin_cyrillic */
@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("RobotoCondensed"), url("../fonts/roboto-condensed.woff2") format("woff2"), url("../fonts/roboto-condensed.woff") format("woff"); }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

a {
  text-decoration: none; }

a:link {
  color: #ffffff; }

a:visited {
  color: #ffffff; }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

.hidden {
  display: none; }

body {
  font-family: "PTMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px; }

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px; }

@media (max-width: 1023px) {
  .container {
    width: 767px; } }

@media (max-width: 767px) {
  .container {
    width: 320px; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: destinations-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

.header {
  background-image: url("../../img/startbg.jpg");
  background-color: #788891; }

.navigation {
  padding-top: 40px;
  padding-bottom: 173px; }

.navigation__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1411px; }

.navigation__logo svg,
.navigation__logo {
  color: #00B2FF;
  width: 52px;
  height: 52px; }

.navigation__logowrapper {
  display: flex; }

.navigation__textmain {
  padding-left: 16px; }

.navigation__logotext,
.navigation__logoheader {
  margin: 0; }

.navigation__logoheader {
  font-family: RobotoCondensed;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  line-height: 29px; }

.navigation__logotext {
  font-family: RobotoCondensed;
  font-weight: 500;
  color: #788891;
  font-size: 12px;
  line-height: 14px; }

.navigation__contacts {
  display: flex;
  align-items: center;
  padding-right: 70px; }

.navigation__link {
  font-size: 16px;
  line-height: 18px;
  position: relative; }

.navigation__link-mail {
  padding-right: 122px; }

.navigation__link-tel {
  padding-right: 38px; }

.navigation__link-mail:hover,
.navigation__link-tel:hover,
.navigation__link-mail:focus,
.navigation__link-tel:focus {
  color: #00B2FF; }

.navigation__button {
  font-family: RobotoCondensed;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  padding: 14px;
  background-color: inherit;
  border-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase; }

.navigation__button:hover,
.navigation__button:focus {
  opacity: 0.5; }

.navigation__link-tel::before,
.navigation__link-mail::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat; }

.navigation__link-tel::before {
  content: "";
  left: -40px;
  top: -2px;
  width: 24px;
  height: 27px;
  background-image: url("../img/phone.svg"); }

.navigation__link-mail::before {
  content: "";
  left: -40px;
  top: -2px;
  width: 24px;
  height: 27px;
  background-image: url("../img/email.svg"); }

.information__inner {
  display: flex;
  justify-content: space-around;
  max-width: 1500px;
  position: relative; }

.information__main {
  max-width: 800px;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
  position: relative; }

.information__header,
.information__text {
  margin-top: 0;
  color: #ffffff; }

.information__header {
  margin-bottom: 30px;
  font-family: RobotoCondensed;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 7px; }

.information__text {
  margin-bottom: 37px;
  max-width: 700px;
  padding-left: 80px;
  font-size: 22px;
  line-height: 35px;
  position: relative; }

.information__text::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  max-width: 66px;
  border-bottom: 2px solid #ffffff; }

.information__image {
  width: 705px;
  height: 515px; }

.information__imagewrapper {
  margin-bottom: 108px;
  overflow: hidden;
  z-index: 1; }

.information__inner::before,
.information__inner::after {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 0; }

.information__inner::before {
  content: "";
  right: 0;
  top: 10px;
  width: 636px;
  height: 636px;
  background-image: url("../img/informationpolygonbig.svg"); }

.information__inner::after {
  content: "";
  right: 359px;
  bottom: 49px;
  width: 373px;
  height: 373px;
  background-image: url("../img/informationpolygonsmall.svg"); }

.information__button {
  font-family: RobotoCondensed;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  padding: 17px 28px;
  background-color: #00B2FF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  max-width: 408px;
  margin-left: 66px; }

.information__button:hover,
.information__button:focus {
  opacity: 0.5; }

.information__scroll {
  position: absolute;
  transform: rotate(270deg);
  left: -45px;
  bottom: 200px;
  opacity: 0.5; }

.information__scroll:hover,
.information__scroll:focus {
  color: #00B2FF; }

.information__dot1,
.information__dot2,
.information__dot3,
.information__dot4,
.information__dot5 {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute; }

.information__dot1 {
  top: 8px;
  right: 82px; }

.information__dot2 {
  top: 8px;
  right: 627px; }

.information__dot3 {
  bottom: 143px;
  right: 356px; }

.information__dot4 {
  top: 203px;
  right: 727px; }

.information__dot5 {
  bottom: 141px;
  right: 565px; }

.advantages__inner {
  margin-top: 108px;
  max-width: 1170px; }

.advantages__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  grid-gap: 30px;
  padding-left: 0; }

.advantages__item {
  border: 1px solid #EBEBEB;
  border-left: 1px solid #00B2FF;
  cursor: pointer;
  position: relative; }

.advantages__item:hover,
.advantages__item:focus {
  background-color: #00B2FF; }

.advantages__item:hover p,
.advantages__item:focus p,
.advantages__wrapper:hover svg,
.advantages__wrapper:focus svg {
  color: #ffffff; }

.advantages__title,
.advantages__text {
  margin-top: 0; }

.advantages__title {
  margin-bottom: 15px;
  font-family: RobotoCondensed;
  font-size: 24px;
  line-height: 34px;
  color: #00B2FF; }

.advantages__text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  color: #666666; }

.advantages__wrapper svg {
  color: #00B2FF; }

.about__image {
  width: 220px;
  height: 317px; }

.form {
  background-color: #00B2FF;
  display: flex; }

.form__image {
  width: 511px;
  height: 288px; }

.social__date {
  display: none; }

.map__button,
.contacts__button {
  display: none; }

.modal,
.modalsuccess {
  display: none; }

/*# sourceMappingURL=style.css.map */
